<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'pyitter/css/pyitter.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Pyitter</title>
</head>
<body class="l-body">
    <header class ="l-header" id="header">
        <nav>
        <ul class="nav">
            <li><span id="logo">Pyitter</span></li>
            <li><a href="{% url 'tweet_index' %}">タイムライン</a></li>
            <li><a href="http://">タイムライン(フォロー)</a></li>
            <li><a href="http://">ユーザ一覧</a></li>
            <li><a href="http://">プロフィール</a></li>
            <li><a href="http://">設定</a></li>
            <li><a href="{% url 'logout'%}">ログアウト</a></li>
        </ul>
    </nav>
    </header>
    {% block content %}
    {% endblock content %}

    <footer class="l-footer" id="footer">© 2018 @activeti</footer>
</body>
</html>