<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'pyitter/css/pyitter.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Pyitter</title>
</head>
<body>
    <header id="header">
        <nav>
        <ul class="nav">
            <li><span id="logo">Pyitter</span></li>
            <li><a href="http://">タイムライン</a></li>
            <li><a href="http://">ユーザ一覧</a></li>
            <li><a href="http://">ユーザ名</a></li>
            <li><a href="http://">設定</a></li>
            <li><a href="http://">ログアウト</a></li>
        </ul>
    </nav>
    </header>
    <aside>
        <div class="profilecard">
            <div class="profile">
                山田孝之 @monhan
            </div>
            <div class="tubuyaki">
                <form action="">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <button type="submit">Submit</button>
                    <p>140</p>
                </form>
            </div>
        </div>
    </aside>
    <main>
        <ul>
            <li><div class="content_user">テストユーザ1 @aaaaa</div>
                <div class="content">ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。
                </div>
                <a href="http://">お気に入りに追加</a>
                <a href="http://">フォロー</a>
            </li>
            <li><div class="content_user">テストユーザ1 @aaaaa</div>
                <div class="content">ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。</div>
                <a href="http://">お気に入りに追加</a>
                <a href="http://">フォロー</a>
            </li>
            <li><div class="content_user">テストユーザ1 @aaaaa</div>
                <div class="content">ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。</div>
                <a href="http://">お気に入りに追加</a>
                <a href="http://">フォロー</a>
            </li>
            <li><div class="content_user">テストユーザ1 @aaaaa</div>
                <div class="content">ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。</div>
                <a href="http://">お気に入りに追加</a>
                <a href="http://">フォロー</a>
            </li>
            <li><div class="content_user">テストユーザ1 @aaaaa</div>
                <div class="content">ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。</div>
                <a href="http://">お気に入りに追加</a>
                <a href="http://">フォロー</a>
            </li>
            <li><div class="content_user"></div>
                <div class="content">ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。ここにつぶやきです。</div>
                <a href="http://">お気に入りに追加</a>
                <a href="http://">フォロー</a>
            </li>
        </ul>
    </main>

    <footer id="footer">© 2018 @activeti</footer>
</body>
</html>