html, body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}
ul {
    list-style-type: none;
    padding:1px;
}

.l-body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 60px 1fr 40px;
    
}

.l-header {
    grid-column: 1 / 2;
    grid-row: 1;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

.l-header nav ul {
    display: flex;
    flex-flow: row;
    margin: 0px;
    padding: 6px;
    list-style-type: none;
}

.l-header li:first-child {
    margin-right: auto;
    margin-bottom: 0px;
}
nav a {
	display: block;
	border-radius: 4px;
	padding: 12px 24px;
	text-decoration: none;
}

.l-aside {
    grid-column: 1 span 1;
    grid-row: 2;
}

.l-main {
    grid-column: 2;
    grid-row: 2;

}

.l-main.login {
    grid-column: 1 / 3;
    grid-row: 2;
}

.l-footer {
    grid-column: 1 / 3;
    grid-row: 3;
}
/*装飾用*/

header {
background: white;
}

aside {
background: #e6ecf0;
}

main {
background: white;
}

footer {
    background: white;
    text-align: center;
}

#logo{
    font-size: 30px;
    font:bold;
    padding-left: 10px;
}
.d-li{
    background: #e6ecf0;
    border: 1px black;
    border-radius: 15px;
    margin-bottom: 5px;
} 